{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <!-- Hero Section-->
    <section style="background-image: url(static/img/hero_dark.jpg); background-size: cover; background-position: center center; background-repeat: no-repeat; height: 55%; background-size: 100%; width: 100%" class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h1>Nikita Tkachev's Blog</h1><a href="#" class="hero-link">Discover More</a>
                </div>
            </div><a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <!-- Intro Section-->
            <section class="intro">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <h2 class="h3">Why I created this blog?</h2>
                            <p class="text-big">
                                One day when I surfed Udemy for backend programming course, I stumbled on Django Framework development course by Jose Portilla. 
                                This one was quite interesting, but I felt a lack of practice, so I decided to create this blog.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="featured-posts no-padding-top">
                <div class="container">
                    <!-- Posts-->
                    {% for post in posts|slice:"::-1" %}
                        <div class="row d-flex align-items-stretch h-35"> 
                            {% if not forloop.counter0|divisibleby:"2" %}
                                <div class="image col-lg-5"><a href="{% url 'post_detail' pk=post.pk %}"><img src="{{ post.thumbnail.url }}" alt="{{ post.title }}" class="post-thumbnail"></a></div>
                            {% endif %}
                            <div class="text col-lg-7">
                                <div class="text-inner d-flex align-items-center">
                                    <div class="content">
                                        <header class="post-header">
                                            <a href="{% url 'post_detail' pk=post.pk %}">
                                                <h2 class="h4">{{ post.title }}</h2>
                                            </a>
                                        </header>
                                        <p>{{ post.text|truncatechars:200  }}</p>
                                        <footer class="post-footer d-flex align-items-center">
                                            <div class="date"><i class="icon-clock"></i>{{ post.published_date }}</div>
                                            <div class="comments"><i class="icon-comment"></i>{{ post.comments.count }}</div>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter0|divisibleby:"2" %}
                                <div class=" col-lg-5 "><a href="{% url 'post_detail' pk=post.pk %}"><img src="{{ post.thumbnail.url }}" alt="{{ post.title }}" class="post-thumbnail"></a></div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </section>
            <!-- Gallery Section-->
            <section class="gallery no-padding">    
                <div class="row">
                    <div class="mix col-lg-3 col-md-3 col-sm-6">
                        <div class="item"><a href="{% static "img/gallery-1.jpg" %}" data-fancybox="gallery" class="image"><img src="{% static "img/gallery-1.jpg" %}" alt="..." class="img-fluid">
                                <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
                    </div>
                    <div class="mix col-lg-3 col-md-3 col-sm-6">
                        <div class="item"><a href="{% static "img/gallery-2.jpg" %}" data-fancybox="gallery" class="image"><img src="{% static "img/gallery-2.jpg" %}" alt="..." class="img-fluid">
                                <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
                    </div>
                    <div class="mix col-lg-3 col-md-3 col-sm-6">
                        <div class="item"><a href="{% static "img/gallery-3.jpg" %}" data-fancybox="gallery" class="image"><img src="{% static "img/gallery-3.jpg" %}" alt="..." class="img-fluid">
                                <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
                    </div>
                    <div class="mix col-lg-3 col-md-3 col-sm-6">
                        <div class="item"><a href="{% static "img/gallery-4.jpg" %}" data-fancybox="gallery" class="image"><img src="{% static "img/gallery-4.jpg" %}" alt="..." class="img-fluid">
                                <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock content %}